* {
    font-family: 'Montserrat', sans-serif;
}

html, body {
    overflow-x: hidden; /* Memastikan tidak ada overflow horizontal */
}


.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.row {
   margin: 0;
   padding: 0;
}

/* ZOOOMM */
.zoom {
    transition: transform .2s;

}
.zoom:hover {
    transform: scale(1.05);
}


/* section login  */

.row {
    background-image: url('asset/backgroundlogin.png');
    background-repeat: no-repeat; /* Ensures the image does not repeat */
    background-position: center center; /* Center the image */
    background-size: cover; /* Stretch the image to cover the entire row */
    width: 100%; /* Full width */
    min-height: 100vh; /* Ensures the row is at least the height of the viewport */
    display: flex;
    justify-content: flex-start;
    margin: 0; /* Removes any default margin */
    padding: 0; /* Removes any default padding */
    box-sizing: border-box; /* Ensures padding and borders are included in width/height */
}


.petani{
    height: 600px;
}

.form-control{
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;

}
.form-login{
    margin-left: 50px;
}
.logo {
    height: 30px; 
    width: auto;
    justify-content: start;
}

.btn-success {
    background-color: #203B1F;
    border-color: #203B1F;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
}

.btn-success:hover {
    background-color: #FDC858;
    border-color: #FDC858;
    color: #203B1F;

}